[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "trackeR"]
	path = trackeR
	url = https://github.com/trackerproject/tracker
[submodule "trackeRapp"]
	path = trackeRapp
	url = https://github.com/trackerproject/trackerapp
